<content>
	<h1><%= customer.fullname %></h1>
	<%= image_tag customer.image, width:200 %>
		<p><Strong>Phone: </Strong><%= customer.phonenumber %></p>
		<p><Strong>Email: </Strong><%= customer.emailaddress %></p>
		<p><Strong>Notes: </Strong><%= customer.notes %></p>
</content>
